
<!DOCTYPE html>

<html>

<head>
    <title> Scott's Page </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>

      
        
<body>
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>

    <!-- <div class= "bg-image" style="background-image: url(garage1.jpg)"> -->
        <div class="container">
            <br> <br>
            <div class="row">
              <div class="col">
                <div class= "card  p-1 bg-info bg-gradient" >
                    <div class="card-header text-center fs-1">
                        Welcome to Scott's Garage
                      </div>

                <div class = "card-body fs-3 fw-bolder">
                    <form action ="/login" method= "POST">
                        <div class= "form-group row my-4"  >
                            <div class="input-group">
                                <span class = "input-group-text" for="username">Email</span>
                                <input class="form-control" type="text" id="username" name="username" required>
                            </div>
                        </div>
                        <div class= "form-group row my-4">
                            <div class="input-group">
                                <span class = "input-group-text" for="password">Password
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                                        <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                                      </svg> 


                                </span>
                                <input class="form-control" type="password" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="d-grid gap-4">
                            <button class="btn btn-success" type="submit">Log In </button>
                          </div>
                    </form>
                
                </div>
                <div class= "card-footer d-grid gap-4">
                    <a class="btn btn-primary" href="/Register" role="button">Register 
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
                        <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
                      </svg>
                    
                    </a>
                    
                </div>

            </div>
              </div>
            </div>
          </div> 
    </body>

</html>

<style>
    .big-banner{
    background-image: url(garage1.jpg);
    background-size: 100%;;
    }
    body{
      background-image: url(redbg.jpg);
      background-size: auto;
      color: white;
    }
</style>